<style>
    .well{
        font-family: 'Segoe UI';
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #9acfea;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    }
    .header{
        font-family: 'Segoe UI';
        text-align: center;
    }
</style>

<div class="header">
    <h1>Musée du Louvre</h1>
    <img src="{{ absolute_url(asset('images/logo.png')) }}">
    <p>Réservation pour le {{ date|date('d/m/Y') }}</p>
    <p>Durée : Demi-journée</p>
    <p>Prix total : {{ prixTotal }}€</p>
</div>
{% for visiteur in visiteurs %}
    <div class="well">
        <p>Prénom : {{ visiteur.prenom }} Nom : {{ visiteur.nom }}</p>
        <p>Date de naissance : {{ visiteur.date_de_naissance|date('d/m/Y')   }}</p>
        <p>Pays : {{ visiteur.pays }}</p>
        <p>Tarif : {{ visiteur.0 }}€</p>
    </div>
{% endfor %}